@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  height: 100%;
} 

body {
  height: 100%;
  margin: 0;
  background-color: #141414;
}

.swal-close-button, .swal-close-button:focus {
  box-shadow: none !important;
  color: #E5E5E5 !important;
  outline: none;
  font-size: 2em;
}

.main-layout{
  min-height: calc(100% - 80px - 272px);
}

@media screen and (max-width: 640px) {
  .main-layout{
    min-height: calc(100% - 80px - 390px);
  }
}

.section-container {
  @apply container mx-auto px-4 sm:px-0 mb-28;
}