@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  height: 100%;
} 

body {
  height: 100%;
  margin: 0;
  background-color: #141414;
}

.swiper-pagination-bullet {
  background: #E5E5E5 !important;
  opacity: 0.7 !important;
}

.swiper-pagination-bullet-active {
  background: #960000 !important;
  opacity: 1 !important;
}

.main-layout{
  min-height: calc(100% - 80px - 272px);
}

input, button {
  outline: none;
}

@media screen and (max-width: 640px) {
  .main-layout{
    min-height: calc(100% - 80px - 390px);
  }
}

.section-container {
  @apply container mx-auto px-4 sm:px-0 mb-28;
}